* {
    font-family: 'Proxima Nova', sans-serif;
    margin: 0;
    padding: 0;
}

body, html, #main-app-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

#full-page-container{
    position: absolute;
    display: none;
    opacity: 0;
    width: 100%;
    height: 0;
}

#full-page-navigation-bar{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#vision-navigation-option{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.navigation-page-option{
    display: none;
    width: 100%;
    height: 100%;
    opacity: 0;
}

#legacy-navigation-option{
    background-color: rgba(255, 0, 0, 0.5);
    color: white;
}

#roster-navigation-option{
    background-color: rgba(230, 250, 250, 0.5);
    color: white;
}

#eos-navigation-option{
    background-color: rgba(255, 255, 0, 0.5);
    color: white;
}

#docs-navigation-option{
    background-color: rgba(0, 0, 255, 0.5);
    color: white;
}

#background-layer{
    position: absolute;
    z-index: -50;
    width: 120%;
    left: -10%;
    min-height: 90%;
    height: auto;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

#navigation-bubbles-container{
    position: absolute;
    display: block;
    z-index: 100;
    width: 200px;
    height: 50px;
    bottom: 3%;
    left: 50%;
    margin-left: -100px;
}

.navigation-bubble{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    margin: auto 10px;
    text-align: center;
    line-height: 15px;
    background-color: white;
    color: white;
    cursor: pointer;
}

.navigation-bubble:hover{
    width: 20px;
    height: 20px;
    color: black;
}

.selected-navigation-bubble{
    width: 20px;
    height: 20px;
    color: white;
    background-color: black;
}

.navigation-option-title{
    position: absolute;
    opacity: 1.0;
    font-size: 36px;
    font-weight: 800;
    width: 450px;
    bottom: 50%;
    left: 50%;
    margin-left: -225px;
    text-align: center;
}

.navigation-option-subtitle{
    position: absolute;
    font-size: 16px;
    width: 300px;
    bottom: 30%;
    left: 50%;
    margin-left: -150px;
    text-align: center;
}

#logo{
    position: absolute;
    top: 5%;
    right: 5%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: 122% 112%;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../media/img/hov-md.png');
    z-index: 50;
    cursor: pointer;
}

#logo:hover{
    background-image: url('../media/img/white-hov-md.png');
}

#company-header-button{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 225px;
    height: 50px;
    z-index: 50;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    font-size: 24px;
    line-height: 50px;
}

#menu-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    z-index: 49;
    background-color: black;
    color: white;
    font-size: 30px;
    display: none;
    opacity: 0;
    
}

.menu-option{
    display: block;
    margin: 5% auto;
    text-transform: uppercase;
    text-align: center;
}

@media screen and (max-width: 600px) {
    #company-header-button{
        position: absolute;
        top: 5%;
        left: 50%;
        width: 200px;
        height: 50px;
        z-index: 50;
        text-transform: uppercase;
        cursor: pointer;
        color: white;
        font-size: 20px;
        line-height: 50px;
        margin-left: -100px;
        text-align: center;
    }

    #background-layer{
        position: relative;
        margin: 0 auto 0 -75%;
        z-index: -50;
        height: 100%;
        width: auto;
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .navigation-option-title{
        position: absolute;
        opacity: 1.0;
        font-size: 30px;
        font-weight: 800;
        width: 280px;
        bottom: 50%;
        left: 50%;
        margin-left: -125px;
        text-align: left;
    }

    .navigation-option-subtitle{
        position: absolute;
        font-size: 16px;
        width: 250px;
        bottom: 35%;
        left: 50%;
        margin-left: -125px;
        text-align: center;
    }
}