<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width,initial-scale=1.0' />
    <title>Welcome to our House | Stay Visionary</title>
    
    <link rel="apple-touch-icon" sizes="57x57" href="../media/icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../media/icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../media/icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../media/icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../media/icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../media/icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../media/icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../media/icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../media/icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../media/icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../media/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../media/icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../media/icon/favicon-16x16.png">
    <link rel="manifest" href="../media/icon/manifest.json">
    <link rel=stylesheet type="text/css" href='../css/fonts.css' />
    <link rel=stylesheet type="text/css" href='../css/eos-standard-single-page-dapp.css' />
    <script src='../js/jquery-3.2.1.min.js'></script>
    <script>
        var sessionManager = {
            focus: 0,
            menuContainerVisible: false,
            pageOpen: null
        };
        
        function openPage(target){
            var id = target;
            $('.navigation-page-option').animate({
                opacity: 0
            }, 500, function(){
                $(this).hide();
            });

            $('#background-layer').animate({
                opacity: 0
            }, 500);

            setTimeout(function(){
                console.log(`selected ${id} navigation option. \n showing associated page...`);
                
                switch(id){
                    case 'vision':
                        sessionManager.focus = 0;
                        $('#company-header-button').css({
                            color: 'white'
                        });

                        $('#menu-container').css({
                            backgroundColor: 'rgba(0, 0, 0, 1.0)',
                            color: 'white'
                        });

                        $('#vision-navigation-option').show().css({
                            color: 'white'
                        }).animate({
                            opacity: 1.0
                        }, 500);

                        $('#background-layer').attr('src', '../media/video/BlackMarble_720p.mp4').animate({
                            opacity: 1.0
                        }, 500);

                        break;
                    case 'legacy':
                        sessionManager.focus = 1;
                        $('#company-header-button').css({
                            color: 'white'
                        });

                        $('#menu-container').css({
                            backgroundColor: 'rgba(255, 255, 0, 1.0)',
                            color: 'black'
                        });

                        $('#legacy-navigation-option').show().css({
                            color: 'white'
                        }).animate({
                            opacity: 1.0
                        }, 500);

                        $('#background-layer').attr('src', '../media/video/VirtualCityScape.mp4').animate({
                            opacity: 1.0
                        }, 500);

                        break;
                    case 'lyoko':
                        sessionManager.focus = 2;
                        $('#company-header-button').css({
                            color: 'white'
                        });

                        $('#menu-container').css({
                            backgroundColor: 'rgba(0, 0, 255, 1.0)',
                            color: 'white'
                        });

                        $('#lyoko-navigation-option').show().css({
                            color: 'white'
                        }).animate({
                            opacity: 1.0
                        }, 500);

                        $('#background-layer').attr('src', '../media/video/LondonScan.mp4').animate({
                            opacity: 1.0
                        }, 500);

                        break;
                    case 'shop':
                        sessionManager.focus = 3;
                        $('#company-header-button').css({
                            color: 'white'
                        });

                        $('#menu-container').css({
                            backgroundColor: 'rgba(215, 124, 241, 1.0)',
                            color: 'white'
                        });

                        $('#shop-navigation-option').show().css({
                            color: 'white'
                        }).animate({
                            opacity: 1.0
                        }, 500);

                        $('#background-layer').attr('src', '../media/video/Shipping.mp4').animate({
                            opacity: 1.0
                        }, 500);

                        break;
                    default:
                        console.log('no navigation page associated with this code');
                        break;
            }
            }, 750);
        }
        
        function toggleMenuContainer(){
            console.log('toggle menu container');
            if(sessionManager.menuContainerVisible){
                //if the menu is visible hide it
                if(sessionManager.focus==1){
                    $('#company-header-button').css({
                        color: 'white'
                    });
                    
                    
                }
                $('#menu-container').animate({
                    height: 0,
                    opacity: 0
                }, 300, function(){
                    $(this).hide();
                    sessionManager.menuContainerVisible = false;
                });
            }
            else{
                //if the menu is not visible show it
                if(sessionManager.focus==1){
                    $('#company-header-button').css({
                        color: 'black'
                    });
                }
                $('#menu-container').show().animate({
                    height: '100%',
                    opacity: 1.0
                }, 300, function(){
                    sessionManager.menuContainerVisible = true;
                });
            }
        }
        
        function showPage(target){
            var id = target;
            
            switch(id){
                case 'vision':
                    sessionManager.pageOpen = 0;

                    $('#vision-page-container').show();
                    $('#full-page-container').show().animate({
                        height: '100%',
                        opacity: 1.0
                    }, 500);

                    break;
                case 'legacy':
                    sessionManager.pageOpen = 1;

                    $('#legacy-page-container').show();
                    $('#full-page-container').show().animate({
                        height: '100%',
                        opacity: 1.0
                    }, 500);

                    break;
                case 'lyoko':
                    sessionManager.pageOpen = 2;

                    $('#lyoko-page-container').show();
                    $('#full-page-container').show().animate({
                        height: '100%',
                        opacity: 1.0
                    }, 500);

                    break;
                case 'roster':
                    sessionManager.pageOpen = 3;

                    $('#roster-page-container').show().animate({
                        height: '100%',
                        opacity: 1.0
                    }, 500);

                    break;
                case 'demos':
                    sessionManager.pageOpen = 4;

                    $('#demos-page-container').show().animate({
                        height: '100%',
                        opacity: 1.0
                    }, 500);

                    break;
                case 'shop':
                    sessionManager.pageOpen = 5;

                    $('#shop-page-container').show();
                    $('#full-page-container').show().animate({
                        height: '100%',
                        opacity: 1.0
                    }, 500);
                    
                    break;
                default:
                    console.log('no navigation page associated with this code');
                    break;
            }
        }
        
        document.addEventListener('DOMContentLoaded', function(){
            //init
            sessionManager.focus = 0;
            $('#vision-navigation-option').show().animate({
                opacity: 1.0
            }, 500);
            
            $('#full-page-container').show();
            
            //navigation event handlers
            $('.navigation-bubble').click(function(){
                var rawID = $(this).attr('id');
                var id = rawID.substring(0, rawID.indexOf('-'));
                
                openPage(id);
                
            });
            
            // page selection
            $('.menu-option').click(function(){
                var rawID = $(this).attr('id');
                var id = rawID.substring(0, rawID.indexOf('-'));    
                console.log(`selected ${id} menu option. \n showing associated content...`);
                    
                showPage(id);
            });
        
            $('.close-page-container-button').click(function(){
                closeOverlayPage(0);
            });
            
            function closeOverlayPage(code){
                let target = code;
                
                if(target==null){
                    throw new Error('no target code provided. overlay ui action cannot be executed.');
                }
                else if(target==0){
                    $('#full-page-container').animate({
                        height: 0,
                        opacity: 0
                    }, 500, function(){
                        $(this).hide();
                        $('.page-container').css({
                            display: 'none'
                        });
                    });
                }
                else if(target==1){
                    $('#roster-page-container').animate({
                        height: 0,
                        opacity: 0
                    }, 500, function(){
                        $(this).hide();
                    });
                }
                else if(target==2){
                    $('#demos-page-container').animate({
                        height: 0,
                        opacity: 0
                    }, 500, function(){
                        $(this).hide();
                    });
                }
                
            }
            
            document.getElementById('vaibhav-photo-container').addEventListener('click', function(){
                window.open('./v', '_blank');
            });
            
            document.getElementById('pamo-photo-container').addEventListener('click', function(){
                window.open('./pamo', '_blank');
            });
            
            document.getElementById('cam-photo-container').addEventListener('click', function(){
                window.open('./cam', '_blank');
            });
            
            $('.lyoko-option').click(function(){
                var id = $(this).attr('id');
                id = id.substring(0, id.indexOf('-'));
                
                switch(id){
                    case 'software':
                        window.open('./docs/software', '_blank');
                        break;
                    case 'hardware':
                        window.open('./docs/hardware', '_blank');
                        break;
                    case 'platform':
                        window.open('./docs/platform', '_blank');
                        break;
                    case 'community':
                        window.open('./docs/community', '_blank');
                        break;
                    default:
                        break;
                }
            })
            
            document.getElementById('close-demos-page-container-button').addEventListener('click', function(){
                closeOverlayPage(2);
            });
            
            document.getElementById('close-team-page-container-button').addEventListener('click', function(){
                closeOverlayPage(1);
            });
            
            $('#logo').click(function(){
                toggleMenuContainer();
            });
            
            $('.navigation-option-subtitle').click(function(){
                var rawID = $(this).attr('id');
                var id = rawID.substring(0, rawID.indexOf('-'));    
                console.log(`selected ${id} menu option. \n showing associated content...`);
                    
                showPage(id);
            });
            
            document.getElementById('vision-team-option').addEventListener('click', function(){
                showPage('roster');
            });
            
            document.getElementById('vision-apps-option').addEventListener('click', function(){
                showPage('demos');
            });
            
            document.getElementById('makers-link-span').addEventListener('click', function(){
                showPage('roster');
            });
            
            document.getElementById('hyper-reality-link-span').addEventListener('click', function(){
                showPage('demos');
            });
            
            document.getElementById('vaibhav-year-container').addEventListener('click', function(){
                window.open('https://www-math.umd.edu/undergraduate.html', '_blank');
            });
            
            document.getElementById('pamo-year-container').addEventListener('click', function(){
                window.open('https://www-math.umd.edu/undergraduate.html', '_blank');
            });
            
            document.getElementById('cam-year-container').addEventListener('click', function(){
                window.open('https://ece.umd.edu/undergraduate/degrees/bs-computer-engineering', '_blank');
            });
            
            document.getElementById('company-header-button').addEventListener('click', function(){
                openPage('vision');
            });
        });
    </script>
</head>
<body>
    <div id='main-app-container'>
        <div id='menu-container'>
            <div id='vision-menu-option' class='menu-option'>explore</div>
            <div id='legacy-menu-option' class='menu-option'>build</div>
            <div id='lyoko-menu-option' class='menu-option'>docs</div>
            <div id='shop-menu-option' class='menu-option'>shop</div>
        </div>
        <div id='company-header-button'>house of venus</div>
        <div id='logo'></div>
        <!--<div id='background-layer-container'>-->
            <video id='background-layer' autoplay muted loop src='../media/video/BlackMarble_720p.mp4'></video>
        <!--</div>-->
        <div id='filter-layer'></div>
        <div id='full-page-navigation-bar'>
            <div id='vision-navigation-option' class='navigation-page-option'>
                <div class='navigation-option-title'>BE VISIONARY</div>
                <div id='vision-subtitle' class='navigation-option-subtitle'>EXPLORE the pARk &#9658;</div>
            </div>
            <div id='legacy-navigation-option' class='navigation-page-option'>
                <div class='navigation-option-title'><p>BUILD YOUR VISION</p></div>
                <div id='legacy-subtitle' class='navigation-option-subtitle'>Get started with LYOKO &#9658;</div>
            </div>
            <div id='lyoko-navigation-option' class='navigation-page-option'>
                <div class='navigation-option-title'>I SEE DEAD PEOPLE</div>
                <div id='lyoko-subtitle' class='navigation-option-subtitle'>Immersive computing DOCS &#9658;</div>
            </div>
            <div id='shop-navigation-option' class='navigation-page-option'>
                <div class='navigation-option-title'>CONNECT YOUR COMMUNITY</div>
                <div id='shop-subtitle' class='navigation-option-subtitle'>SHOP for pARk devices &#9658;</div>
            </div>
        </div>
        <div id='full-page-container'>
            <div id='vision-page-container' class='page-container'>
                <div class='page-container-title'>explore</div>
                <div class='page-container-content'><p class='page-content-paragraph'>affordable access to clean drinking water and safe open internets is the most vital element for human life and freedom on Earth</p><p class='page-content-paragraph'> our HOUSE is committed to serving the planet and the life on it through our <span id='kinectome-link'>pARk: a community-operated 5G immersive internet</span></p><p class='page-content-paragraph'>&#9664; <span id='makers-link-span'>Makers</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span id='hyper-reality-link-span'>Hyper-Reality</span> &#9658;</p></div>
                <input type='button' value='team' id='vision-team-option' class='vision-page-option-button' />
                <input type='button' value='dApps' id='vision-apps-option' class='vision-page-option-button' />
                <div class='close-page-container-button'>x</div>
            </div>
            <div id='legacy-page-container' class='page-container'>
                <div class='page-container-title' style='color: black;'>build</div>
                <div class='page-container-content'>
                    <div id='technology-block-array-container'>
                        <div id='cARd-technology-block' class='technology-block-container'>
                            <div id='cARd-name-container' class='technology-name-container'>MUSIC PLAYXR</div>
                            <div id='cARd-price-tag' class='price-tag-container'>5 minutes</div>
                            <div id='cARd-description-container' class='technology-description-container'>create an immersive music playlist and share it online with family and friends</div>
                            <div id='cARd-add-to-cart-button' class='add-to-cart-button'>launch tutorial</div>
                        </div>
                        <div id='dev-technology-block' class='technology-block-container'>
                            <div id='dev-name-container' class='technology-name-container'>CURATXR</div>
                            <div id='dev-price-tag' class='price-tag-container'>10 minutes</div>
                            <div id='dev-description-container' class='technology-description-container'>produce an immersive gallery featuring the art you love</div>
                            <div id='dev-add-to-cart-button' class='add-to-cart-button'>launch tutorial</div>
                        </div>
                    </div>
                </div>
                <div id='legacy-close-page-button' class='close-page-container-button'>x</div>
            </div>
            <div id='lyoko-page-container' class='page-container'>
                <div class='page-container-title'>docs</div>
                <div class='page-container-content'>
                    <p id='software-option' class='lyoko-option page-content-paragraph'>
                        software
                    </p>
                    <p id='hardware-option' class='lyoko-option page-content-paragraph'>
                        hardware
                    </p>
                    <p id='platform-option' class='lyoko-option page-content-paragraph'>
                        platform
                    </p>
                    <p id='community-option' class='lyoko-option page-content-paragraph'>
                        community
                    </p>
                </div>
                <div class='close-page-container-button'>x</div>
            </div>
            <div id='roster-page-container' class='page-container'>
                <div class='page-container-title'>team</div>
                <div class='page-container-content'>
                    <div id='roster-block-array-container'>
                        <div id='vaibhav-roster-block' class='roster-block-container'>
                            <div class='roster-block-content'>
                                <div id='vaibhav-photo-container' class='photo-bg-container'></div>
                                <div id='vaibhav-name-container' class='roster-name-container'>Vaibhav PONNURI</div>
                                <div id='vaibhav-position-container' class='roster-position-container'>Data Engineer</div>
                                <div id='vaibhav-year-container' class='math-link roster-year-container'>Math. '18</div>
                            </div>
                        </div>
                        <div id='pamo-roster-block' class='roster-block-container'>
                            <div class='roster-block-content'>
                                <div id='pamo-photo-container' class='photo-bg-container'></div>
                                <div id='pamo-name-container' class='roster-name-container'>Patrice-Morgan ONGOLY</div>
                                <div id='pamo-position-container' class='roster-position-container'>Founder,<br/> CEO | CTO</div>
                                <div id='pamo-year-container' class='math-link roster-year-container'>Math. '20</div>
                            </div>
                        </div>
                        <div id='cam-roster-block' class='roster-block-container'>
                            <div class='roster-block-content'>
                                <div id='cam-photo-container' class='photo-bg-container'></div>
                                <div id='cam-name-container' class='roster-name-container'>Cameron REED</div>
                                <div id='cam-position-container' class='roster-position-container'>Mixed Reality Engineer</div>
                                <div id='cam-year-container' class='cpe-link roster-year-container'>CpE. '20</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id='close-team-page-container-button'>x</div>
            </div>
            <div id='demos-page-container' class='page-container'>
                <div class='secondary-page-container-title'>demos</div>
                <div class='demo-app-container'>
                    <div class='demo-app-title-container'>shoppXR</div>
                    <div class='demo-app-description-container'>your portal to the frontiers of fashion, food, and health</div>
                    <div class='demo-app-version-container'>pARk v. 0.2.0</div>
                    <div style='width: 100%; height: 50px; line-height: 50px; text-align: center;'>launch demo</div>
                </div>
                <div class='demo-app-container'>
                    <div class='demo-app-title-container'>realtXR</div>
                    <div class='demo-app-description-container'>explore and discover local property </div>
                    <div class='demo-app-version-container'>pARk v. 0.2.0</div>
                    <div style='width: 100%; height: 50px; line-height: 50px; text-align: center;'>launch demo</div>
                </div>
                <div id='close-demos-page-container-button'>x</div>
            </div>
            <div id='shop-page-container' class='page-container'>
                <div class='secondary-page-container-title'>shop</div>
                <div class='card-app-container'>
                    <div class='card-app-title-container'>cARd</div>
                    <div class='card-app-description-container'>creative Augmented Reality desktop</div>
                    <div class='card-app-version-container'>v. 0.9.0</div>
                    <div class='add-to-shopping-cart-button'>+</div>
                </div>
                <div class='aria-app-container'>
                    <div class='aria-app-title-container'>AR.ia</div>
                    <div class='aria-app-description-container'>Augmented Reality Internet Assistant</div>
                    <div class='aria-app-version-container'>v. 0.9.0</div>
                    <div class='add-to-shopping-cart-button'>+</div>
                </div>
                <div id='close-shop-page-container-button' class='close-page-container-button'>x</div>
            </div>
        </div>
        <div class='navigation-bubbles-container'>
            <div id='vision-navigation-bubble' class='navigation-bubble'>.</div>
            <div id='legacy-navigation-bubble' class='navigation-bubble'>.</div>
            <div id='lyoko-navigation-bubble' class='navigation-bubble'>.</div>
            <div id='shop-navigation-bubble' class='navigation-bubble'>.</div>
        </div>
        <div id='author-footer'>Patrice-Morgan Ongoly | 2019</div>
    </div>
</body>
</html>