<!DOCTYPE html>
<html>
<head>
    <meta charset = "utf-8" >
    <meta name="viewport" content="width=device-width,initial-scale=1.0" >
    <title>G.A.M.E.</title>
    <link rel="stylesheet" type="text/css" href="../css/niggarstyle.css" />
    <script src="../js/socket.io.js"></script>
    <script src="../js/aframe.min.js"></script>
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script>
        var manager;
        function gotDevices(deviceInfos) {
            for (var i = 0; i !== deviceInfos.length; ++i) {
                var deviceInfo = deviceInfos[i];
                var option = document.createElement('option');
                option.value = deviceInfo.deviceId;

                console.log('['+i+'] '+deviceInfo.kind);

                if (deviceInfo.kind === 'videoinput') {
                    option.text = deviceInfo.label || 'camera ' + (manager.videoSelect.length + 1);
                    manager.videoSelect.appendChild(option);
                }
                else {
                   // console.log('Found one other kind of source/device: ', deviceInfo);
                }
            }
        }

        function getStream() {
            if (window.stream) {
               // console.log('stream flowing my guy!!!');
                window.stream.getTracks().forEach(function(track) {
                    track.stop();
                });
            }

            var constraints = {
                video: {
                    deviceId: {exact: manager.videoSelect.value}
                }
            };

            navigator.mediaDevices.getUserMedia(constraints).then(gotStream).catch(handleError);
        }
        
        function stopStream(){
            var constraints = {
                video: {
                    deviceId: {exact: manager.videoSelect.value}
                }
            };
            navigator.mediaDevices.getUserMedia(constraints).then(pauseStream).catch(handleError);
        }
        
        function pauseStream(stream){
            console.log("stop the stream flow");
            stream.getTracks().forEach(function(track) {
                track.stop();
            });
            if (window.stream) {
                window.stream.getTracks().forEach(function(track) {
                    track.stop();
                });
            }
        }

        function gotStream(stream) {
            window.stream = stream; // make stream available to console
            manager.video.srcObject = stream;
            manager.video.play();
        }

        function handleError(error) {
            console.log('ERROR W/STREAM: ', error);
        }
        
        function init(){
            var sessionManager = {
                connection: io.connect(location.host),
                start: (new Date()),
                video: null,
                videoSelect: null,
                orientation: 0
            };
            
            setTimeout(function(){
                $('.typewriter-1').css({
                    opacity: 1.0
                });
            }, 4050);
            
            setTimeout(function(){
                $('.typewriter-2').css({
                    opacity: 1.0
                });
            }, 8100);
            
            setTimeout(function(){
                $('.typewriter-3').css({
                    opacity: 1.0
                });
            }, 12150);
            
            setTimeout(function(){
                $('.typewriter, .typewriter-1, .typewriter-2').animate({
                    opacity: 0
                }, 1000, function(){
                    
                    $('.typewriter-3').css({
                        borderRight: 0,
                    });
                    
                    $('.acrostic-letter').css({
                        display: 'inline-block',
                        verticalAlign: 'top'
                    });
                    
                    $('.acrostic-period').css({
                        display: 'none'
                    });
                    
                    $(this).css({
                        display: 'none'
                    });
                    
                    $('#premier').css({
                        display: 'block',
                        textAlign: 'left',
                        width: '100%'
                    });
                    
                    $('#premier-reveal').css({
                        display: 'inline-block',
                        textAlign: 'left',
                        verticalAlign: 'top',
                        width: '110px'
                    });
                    
                   $('#deuxieme').css({
                        display: 'block',
                        textAlign: 'left',
                        width: '100%'
                    });
                    
                    $('#troisieme').css({
                        display: 'block',
                        textAlign: 'left',
                        width: '100%'
                    });
                    
                    $('#quatrieme').css({
                        display: 'block',
                        textAlign: 'left',
                        width: '100%'
                    });

                    $('#cinquieme').css({
                        display: 'block',
                        textAlign: 'left',
                        width: '100%'
                    });

                    $('#sixieme').css({
                        display: 'block',
                        textAlign: 'left',
                        width: '100%'
                    });

                    setTimeout(function(){ 
                        $('#deuxieme-reveal').css({
                            display: 'inline-block',
                            textAlign: 'left',
                            verticalAlign: 'top',
                            width: '165px'
                        });
                    }, 2000);
                    
                    setTimeout(function(){
                        $('#troisieme-reveal').css({
                            display: 'inline-block',
                            textAlign: 'left',
                            verticalAlign: 'top',
                            width: '65px'
                        });
                    }, 4000);
                    
                    setTimeout(function(){
                        $('#quatrieme-reveal').css({
                            display: 'inline-block',
                            textAlign: 'left',
                            verticalAlign: 'top',
                            width: '125px'
                        });
                    }, 6000);
                    
                    setTimeout(function(){
                        $('#cinquieme-reveal').css({
                            display: 'inline-block',
                            textAlign: 'left',
                            verticalAlign: 'top',
                            width: '160px'
                        });
                    }, 8000);
                    
                    setTimeout(function(){
                        $('#sixieme-reveal').css({
                            display: 'inline-block',
                            textAlign: 'left',
                            verticalAlign: 'top',
                            width: '120px'
                        });
                    }, 10000);
                
                    setTimeout(function(){
                        $('#first-page-container').hide();
                        
                        $('#second-page-container').show().animate({
                            opacity: 1.0
                        }, 10, function(){
                            $('.typewriter-4').animate({        //  writing operatives
                                opacity: 1.0
                            }, 490, function(){
                                console.log('loaded');
                            })
                        
                            setTimeout(function(){
                                $('.typewriter-5').css({    //  patrice-morgan ongoly
                                    opacity: 1.0
                                });
                            }, 5000);

                            setTimeout(function(){
                                $('.typewriter-6').css({    //  akshay grewal
                                    opacity: 1.0
                                });
                            }, 8000);

                            setTimeout(function(){
                                $('.typewriter-7').css({    //  storyboard operatives
                                    opacity: 1.0
                                });
                            }, 12000);

                            setTimeout(function(){
                                $('.typewriter-8').css({    //  patrice-morgan ongoly
                                    opacity: 1.0
                                });
                            }, 16000);

                            setTimeout(function(){
                                $('.typewriter-9').css({    //  with
                                    opacity: 1.0
                                });
                            }, 20000);

                            setTimeout(function(){
                                $('.typewriter-10').css({   //  samson-gabriel aria
                                    opacity: 1.0
                                });
                            }, 22000);
                        });    
                    }, 15500);

                });
                
            }, 20000);
            
            sessionManager.video = document.getElementById('videoElement');
            console.log('loaded');
            console.log(sessionManager.start);
            console.log(sessionManager.connection);
            
            return sessionManager;
        }        

        document.addEventListener('DOMContentLoaded', function(){
            manager = init();
             
            manager.connection.on('clearInitialVideoFeed', function(data){
                console.log('LEGACY FUNCTION \n no longer cleared as of v. 0.8.0 \n to be deprecated as of v. 0.9.0');
                //stopStream();
                /*manager.video.pause();
                document.getElementById('videoElement').srcObject.getTracks().forEach(function(track){
                    track.stop();
                });
                
                if (window.stream) {
                    console.log("stop the stream flow");
                    window.stream.getTracks().forEach(function(track) {
                        track.stop();
                    });
                }

                manager.video.srcObject = null;
                //manager.video.style.display = "none";*/
            });
            
            manager.connection.on('revealMenuXRComponents', function(data){
                console.log(`reveal menu xr components request received. answering? ${data.status}`);
                document.querySelector('#title-banner').object3D.visible = true;
                /*document.querySelector('#hero-option').object3D.visible = true;
                document.querySelector('#god-option').object3D.visible = true;*/
                manager.connection.emit('menuXRComponentsRevealed', {status: true, meta: 'complete'})
            });
            
            manager.connection.on('restartVideoFeed', function(data){
                getStream();
                //video.stop();
                manager.video.style.display = 'block';
            });
            
            //var imgPreloader = [];
            
            manager.connection.on('paintCanvas', function(data){
                var arr = new Uint8ClampedArray(data.buf); //buffer
                
                const imgData = new ImageData(
                  arr,
                  data.cols,
                  data.rows
                );
                
                
                const canvas = document.getElementById('canvas');
                //imgPreloader.push({rows: data.rows, cols: data.cols, img: imgData});
                canvas.height = data.rows;//imgPreloader[0].rows;
                canvas.width = data.cols;//imgPreloader[0].cols;
                
                let buffer = document.getElementById('buffer-canvas');
                buffer.width = canvas.width;
                buffer.height = canvas.height;
                
                buffer.getContext('2d').putImageData(imgData, 0, 0);
                
                // set image data
                //const ctx = canvas.getContext('2d');
                canvas.getContext('2d').drawImage(buffer, 0, 0);
                
                //ctx.putImageData(imgData/*imgPreloader[0].img*/, 0, 0);/**/
                /*if(imgPreloader.length>1){
                    imgPreloader.shift();
                }
                
                if(imgPreloader.length>60){
                    setInterval(function(){
                        
                    }, 160);
                }*/
                // set canvas dimensions
                
                
            }); // reveals the underlying open CV processing map, was default in v 0.7.0 and below; now toggleable for special masks or effects; default output stream is html5 media (video) stream
            
            manager.connection.on('selectionMadeForItem', function(data){
                let selection = data.selection;
                //let selectedPos = document.querySelector(selection).object3D.position;
                
                document.querySelector('#new-option').object3D.visible = true;
                document.querySelector('#load-option').object3D.visible = true;
                document.querySelector('#info-option').object3D.visible = true;
                
                if(selection=='#new-option'){
                    document.querySelector('#selected-option').object3D.position.set(-2, 0.05, -3);
                }
                else if(selection=='#load-option'){
                    document.querySelector('#selected-option').object3D.position.set(0, 0.05, -3);
                }
                else if(selection=='#info-option'){
                    document.querySelector('#selected-option').object3D.position.set(2, 0.05, -3);
                }
                document.querySelector(selection).object3D.visible = false;
                
                //document.querySelector('#selected-option').object3D.position.set(selectedPos);
                document.querySelector('#selected-option').object3D.visible = true;
            }); // selects the option chosen by the processing result, makes the change in the aframe embedded layer
        });
    </script>
</head>
<body>
    <div id='screen-container'>
        <div id='first-page-container' class='page-container'>
            <div class='typewriter' style='font-size: 26px; width: 250px; margin: 0 auto;'>now loading:</div>
            <div class='typewriter-1' style='font-size: 24px; width: 390px; margin: 0 auto; opacity: 0;'>kids next door mission</div>
            <div class='typewriter-2' style='margin: 9% auto 0 auto; font-size: 24px; width: 160px; opacity: 0;'>operation:</div>
            <div id='acrostic-container' class="typewriter-3">
                <div id='premier' class='acrostic-header'><span class='acrostic-letter'>n</span><span id='premier-period' class='acrostic-period'>.</span><span id='premier-reveal' class='acrostic-reveal'>etwork</span></div>
                <div id='deuxieme' class='acrostic-header'>i<span id='deuxieme-period' class='acrostic-period'>.</span><span id='deuxieme-reveal' class='acrostic-reveal'>ntegrated</span></div>
                <div id='troisieme' class='acrostic-header'>g<span id='troisieme-period' class='acrostic-period'>.</span><span id='troisieme-reveal' class='acrostic-reveal'>rios</span></div>
                <div id='quatrieme' class='acrostic-header'>g<span id='quatrieme-period' class='acrostic-period'>.</span><span id='quatrieme-reveal' class='acrostic-reveal'>enerate</span></div>
                <div id='cinquieme' class='acrostic-header'>a<span id='cinquieme-period' class='acrostic-period'>.</span><span id='cinquieme-reveal' class='acrostic-reveal'>lternative</span></div>
                <div id='sixieme' class='acrostic-header'>r<span id='sixieme-period' class='acrostic-period'>.</span><span id='sixieme-reveal' class='acrostic-reveal'>ealities</span></div>
            </div>
        </div>
        <div id='second-page-container' class='page-container'>
            <div class='typewriter-4' style='font-size: 26px; width: 330px; margin: 0 auto;'>writing operatives:</div>
            <div class='typewriter-5' style='font-size: 24px; width: 370px; margin: 0 auto; opacity: 0;'>patrice-morgan ongoly</div>
            <div class='typewriter-6' style='margin: 0 auto 9% auto; font-size: 24px; width: 250px; opacity: 0;'>akshay grewal</div>
            <div class='typewriter-7' style='font-size: 24px; opacity: 0; width: 370px;'>
                storyboard operatives
            </div>
            <div class='typewriter-8' style='font-size: 24px; opacity: 0; width: 370px;'>
                patrice-morgan ongoly
            </div>
            <div class='typewriter-9' style='font-size: 24px; opacity: 0; width: 100px; margin: 3% auto'>
                with
            </div>
            <div class='typewriter-10' style='font-size: 24px; opacity: 0; width: 350px;'>
                samson-gabriel aria
            </div>
        </div>
    </div>
</body>    
</html>